* {
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  margin: 0;
  padding: 0;
}
.banner {
    position: relative;
    z-index: 1;
}
.banner img{
    width: 100%;
    height: auto;
}
.botones {
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 500;
    margin: 0;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #ffc5c5;
    padding: 10px 20px;
}
.avisos button {
    background-color:#FDA5D5;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.avisos button:hover {
    background-color:#FB64B6
;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}
#modalAvisos {
    display: none;
    position: fixed;
    top: 50px;
    left: 20px;
    width: 300px;
    max-height: 80vh;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    z-index: 10000;
    overflow-y: auto;
}

#modalAvisos .cerrar {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 25px;
    cursor: pointer;
    color: #333;
}

#modalAvisos h2 {
    margin-bottom: 15px;
    font-size: 18px;
}

#modalAvisos ul {
    padding-left: 20px;
    list-style: disc;
}
.navbar-nav .nav-link {
    color: white !important;
}

.navbar-nav .nav-link:hover {
    color: #E61876 !important;
}

.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: 
      linear-gradient(rgba(255, 192, 203, 0.7), rgba(255, 192, 203, 0.7));
    z-index: 9999;
    justify-content: center;
    align-items: flex-start; 
    overflow-y: auto; 
    padding-top: 50px; 
    padding-bottom: 60px;
}

.modal.mostrar {
    display: flex;
}

.modal-contenido {
    background:  white;
    border-radius: 20px;
    width: 90%;
    max-width: 700px;
    position: relative;
    padding: 20px;
}

.cerrar {
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 30px;
    color: #000;
    cursor: pointer;
    transition: 0.3s;
}

.cerrar:hover {
    color: red;
}

.formulario {
    background-color: aliceblue;
    padding: 50px 30px 40px 30px; 
    border-radius: 15px;
    width: 100%;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    position: relative; 
    margin-top: 40px;
}

.formulario h3 {
    text-align: center;
    font-weight: bold;
    color: #222;
    margin-bottom: 25px;
}
.qr {
    position: absolute;
    top: 10px;    
    right: 20px;
    text-align: center;
}

.qr img {
    width: 100px;   
    height: auto;
    border-radius: 10px;
    border: 2px solid #ccc;
}

.qr h6 {
    color: #000;
    font-size: 12px;
    margin-top: 3px;
}

.dropdown {
    margin-bottom: 20px;
}
body {
    margin: 0; 
    padding-top: 87px;
}
#inicio{
    margin: 0;
    width: 100%;
    padding: 40px 0;
    background: 
    linear-gradient(rgba(255, 192, 203, 0.7), rgba(255, 192, 203, 0.7)),
    url('./imagenes/Imagen_de_WhatsApp_2025-09-29_a_las_21.58.25_35a63155-removebg-preview.png') no-repeat center center / cover;
}
#inicio h1 {
    text-align: center;
    font-family: "Cormorant Garamond", serif;
}
p {
  font-size: 1.3em;
  text-align: justify;
  padding: 0px;
  width: 90%;
  margin: 10px auto 0 auto;
  line-height: 1.6;
  color: #333;
}
#productos{
    margin: 0;
    width: 100%;
    padding: 40px 0; 
    background: 
    linear-gradient(rgba(255, 192, 203, 0.7), rgba(255, 192, 203, 0.7)),
    url('./imagenes/Imagen_de_WhatsApp_2025-09-29_a_las_21.58.25_35a63155-removebg-preview.png') no-repeat center center / cover;
}
.productos {
    width: 100%;
    justify-content: center;
    padding: 20px;
    margin: 0 auto;
}
.productos .carousel {
    width: 100%;
    margin: 0 auto;
}
.carousel-item {
    color: aliceblue;
    font-size: 15px;
    width: 100%;
    height: auto;      
    overflow: hidden;    
}
.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;   
}
#productos h1 {
    text-align: center;
    font-family: "Cormorant Garamond", serif;
}
.borde-texto {
  color: white;                    
  -webkit-text-stroke: 2px #E61876;   
  font-size: 60px;
  font-family: cursive;
  text-align: center;
}
#paquetes{
    margin: 0;
    width: 100%;    padding: 40px 0;
    background: 
    linear-gradient(rgba(255, 192, 203, 0.7), rgba(255, 192, 203, 0.7)),
    url('./imagenes/Imagen_de_WhatsApp_2025-09-29_a_las_21.58.25_35a63155-removebg-preview.png') no-repeat center center / cover;
}
#paquetes h1 {
    text-align: center;
    font-family: "Cormorant Garamond", serif;
    margin: 40px;
}
.tarjetas {
  display: flex;
  flex-wrap: wrap;   
  justify-content: center; 
  gap: 40px 40px;              
  box-sizing: border-box;
}

.card {
  width: 18rem;           
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;      
  border-radius: 10px 10px 0 0;
}
#paquetes .card {
    width: 18rem;           
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #f9d7e2; 
    border: 5px solid #ff4d6d;
    border-radius: 12px; 
    box-shadow: 0 10px 18px rgba(0, 0, 0, 0.2); 
    transition: all 0.3s ease;
}
#paquetes .dropdown-menu {
    min-width: 300px;
    background-color: #FEF9C2;
    box-shadow: 0 6px 16px rgba(0,0,0,0.2);
}

#referencias {
    margin: 0;
    width: 100%;
    padding: 40px 0;
    background:
    linear-gradient(rgba(255, 192, 203, 0.7), rgba(255, 192, 203, 0.7)),
    url('./imagenes/Imagen_de_WhatsApp_2025-09-29_a_las_21.58.25_35a63155-removebg-preview.png') no-repeat center center / cover;
}
#referencias h1 {
    text-align: center;
    font-family: "Cormorant Garamond", serif;
    margin: 40px;
}
.ref {
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 100px;
    align-items: stretch;
}
.estrellas img {
    width: 100px;
    height: auto;
}
#referencias .card {
    background-color: #f4f8c5; 
    border: 5px solid #f6e36c; 
    border-radius: 12px; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 
    transition: all 0.3s ease;
}
#referencias .card-body {
    padding-top: 0;
    font-size: 0.9rem; 
    line-height: 0.9;
}
#referencias .card-body p {
    font-size: 1rem;  
    line-height: 1.2;   
}

#referencias .card-title {
    font-size: 1.5rem; 
    margin: 0;
}
.nombre {
    background-color: #B8F5B0;
    padding: 10px;
    text-align: center;
}
.nombre1 {
    background-color: #B0F5E6;
    padding: 10px;
    text-align: center;
}
.nombre2 {
    background-color: #D1B0F5;
    padding: 10px;
    text-align: center;
}
.nombre3 {
    background-color: #F5B0EB;
    padding: 10px;
    text-align: center;
}
.nombre4 {
    background-color:#FFBE85;
    padding: 10px;
    text-align: center;
}
.nombre5 {
    background-color: #FFF385;
    padding: 10px;
    text-align: center;
}
.mi-video{
    width: 100%;
    height: 500px;
    object-fit: cover;
    display: block;
    border-top: 5px solid #ff4d6d;
    border-bottom: 5px solid #ff4d6d;
}

.separacion{
    width: 100%;
    height: 70px;
    background: linear-gradient(
        90deg,
        #ff4d6d,
        #ff7fa1,
        #ff4d6d
    );
}
.redes{
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #FFCCD3;
    padding: 20px;
    text-align: center;
    
}
.logo img {
    width: 100px;     
    height: auto;     
    border-radius: 10px;
    margin: 0 10px;     
    transition: transform 0.3s ease; 
}
.logo a img:hover {
  transform: scale(1.1);
}
.siguenos a img {
  width: 35px;         
  height: 35px;
  margin: 0 10px;     
  transition: transform 0.3s ease; 
}

.siguenos a img:hover {
  transform: scale(1.1);
}
.contactos .info {
  display: flex;             
  align-items: center;     
  justify-content: center;  
  gap: 8px;                 
  margin-bottom: 5px;        
}

.contactos .info img {
  width: 25px;              
  height: 25px;
}
.ubi .info {
  display: flex;             
  align-items: center;   
  justify-content: center;    
  gap: 8px;                
  text-align: left;        
}

.ubi .info img {
    width: 50px;                 
    height: auto;
    transition: transform 0.3s ease; 
}
.ubi .info a img:hover {
  transform: scale(1.1);
}
.modal-experiencia {
    position: fixed;
    inset: 0;
    background: linear-gradient(rgba(255, 192, 203, 0.7), rgba(255, 192, 203, 0.7));
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.modal-experiencia-contenido {
    background-color:aliceblue;
    border-radius: 20px;
    padding: 25px 30px;
    width: 50%;
    max-width: 600px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    position: relative;
    animation: aparecerExperiencia 0.3s ease;
}
.cerrar-experiencia {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 26px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    transition: color 0.3s ease;
}
.cerrar-experiencia:hover {
    color: #e91e63;
}
.modal-boton {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px; 
}
#enviarExperiencia {
    padding: 8px 20px;
}

.siguenos img:hover,
.contactos .info img:hover,
.ubi .info img:hover,
.logo img:hover {
  transform: scale(1.2) translateY(-3px);
}
.registro-container {
  display: flex;
  justify-content: center;
  margin-top: 35px;
}

.btn-registro {
  background: linear-gradient(135deg, #ff4d6d, #ff85a1);
  color: white;
  border: none;
  padding: 15px 40px;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 6px 15px rgba(255, 77, 109, 0.4);
}

.btn-registro:hover {
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 10px 20px rgba(255, 77, 109, 0.6);
}

.btn-registro:active {
  transform: scale(0.98);
}

.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff0f5;
}

.login-card {
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.2);
  width: 350px;
  text-align: center;
}

.login-subtitle {
  font-size: 14px;
  color: gray;
  margin-bottom: 20px;
}